################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/arduino_controller/display/.vs/display/v14
